<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src='../../js/plugins/jquery/jquery.min.js'></script>
    <script type="text/javascript" src='../../js/plugins/echarts/echarts.min.js'></script>
    <script type="text/javascript" src='../../js/common/echartsChart.js'></script>
    <title>echartArea</title>
    <script>
        $(function(){
            var data=[
                ["1536029467","500"],
                ["1536029468.5","900"],
                ["1536029470","700"],
                ["1536029471.5","1000"],
                ["1536029473","500"],
                ["1536029474.5","1400"],
                ["1536029476","1700"],
                ["1536029477.5","2700"],
                ["1536029479","700"],
                ["1536029480.5","700"],
                ["1536029482","700"],
                ["1536029483.5","700"],
                ["1536029485","700"],
                ["1536029486.5","700"],
                ["1536029488","700"],
                ["1536029489.5","700"],
                ["1536029491","700"],
                ["1536029492.5","700"],
                ["1536029494","700"],
                ["1536029495.5","700"],
                ["1536029497","700"],
                ["1536029498.5","700"],
                ["1536029500","400"],
                ["1536029501.5","18000"],
                ["1536029503","18000"],
                ["1536029504.5","15000"],
                ["1536029506","10000"],
                ["1536029507.5","1000"],
                ["1536029509","1000"],
                ["1536029510.5","1000"],
                ["1536029512","1000"],
                ["1536029513.5","1000"],
                ["1536029515","1000"],
                ["1536029516.5","1000"],
                ["1536029518","1000"],
                ["1536029519.5","5000"],
                ["1536029521","5000"],
                ["1536029522.5","12000"]
            ];
            var data1=[
                ["1536029467","500"],
                ["1536029513.5","1000"],
                ["1536029515","1000"],
                ["1536029516.5","1000"],
                ["1536029518","1000"],
                ["1536029519.5","5000"],
                ["1536029521","5000"],
                ["1536029522.5","12000"]
            ];
            $("#areaChart").areaChart(data);
            setTimeout(function(){ $("#areaChart").areaChart(data1); }, 3000);
        })
    </script>
</head>
<body>
    <div id="areaChart" style="width:80%;margin-left: auto;margin-right: auto;height:500px;border:1px solid #333"></div>
</body>
</html>