.form-horizontal .has-feedback .form-control-feedback {
    color:#07cf6f;
    cursor: pointer;
    pointer-events: auto;
}
.checkbox-dividing-line{
    border-top: 1px dashed #a7a7a7;
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-left: 10px;
}
.input-group[class*="col-"]{
    padding-left:15px;
    padding-right:15px;
}
.input-group-addon{
    border-radius: 0;
    color:#333;
    background-color: #f7f8fa;
}
.add-dividing-line{
    border-top: 1px dashed #a7a7a7;
    margin-top: 16px;
    margin-right: -15px;
    margin-left: -15px;
}
.add-dividing-laber{
    text-align: center !important;
    cursor: pointer;
}