<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" href="../css/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/plugins/awesome/font-awesome.min.css">
    <link rel="stylesheet" href="../css/common/common.css">
    <script type="text/javascript" src='../js/plugins/jquery/jquery.min.js'></script>
    <script type='text/javascript' src='../js/plugins/bootstrap/bootstrap.min.js'></script>
    <script type='text/javascript' src='../js/common/common.js'></script>
    <title>框架</title>
</head>
<body>
<div class="cloud-container">
    <div class="cloud-content-l cloud-menu">
        <nav class="cloud-Lbar" role="navigation">
            <ul class="acc-menu">
                <li class="treeview"><span>接入数据</span></li>
                <li class="treeview active"><a href=""><span>网管管理</span></a></li>
                <li class="treeview"><a href=""><span>数据源管理</span></a></li>
                <li class="treeview"><a href=""><span>分组管理</span></a></li>
                <li class="treeview"><a href=""><span>设备管理</span></a></li>
                <li class="treeview"><a href=""><span>工作空间</span></a></li>
            </ul>
        </nav>
        <div class="cloud-shrink-L shrink-moved"></div>
    </div>
    <div class="cloud-content-r cloud-menu-r">
        右侧内容
    </div>
</div>
</body>
</html>